<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-eqiv='X-UA-Compatible' content="ie=edge">
<title>DC Fake Mews</title>
<meta name="description" content="DESCRIPTION">

<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" text="text/css" href="/css/style.css">
</head>
<body>

<% include ../partials/nav %>
