
<% include ../../partials/boilerplate %>
<div class="landing-container">
<div class="landing-cat"><img src="https://www.rascadoresparagatos.top/wp-content/uploads/2018/03/Gato-con-gafas.png"></div>
<div>
<h1 class="landing">DC Pawlitics</h1>
<h2 class="fake-mews">DC Fake Mews</h2>
</div>
<div class="landing-buttons">
<button><a href="/cats">Meet the Cats</a></button>
<button><a href="/submit">Submit your Cat to be Featured</a></button>
<button><a href="https://www.homewardtrails.org/adopt-a-pet/cats-for-adoption/#.WtogsdPwY1I" target="_blank">Adopt a DC Cat or Donate</a></button>
<button><a href="https://www.instagram.com/dcfakemews/" target="_blank">Check out the real DC Fake Mews InsCATGram</a></button>
<a href="/cats"><p class="tag-line">These purrtriotic Americats have a lot to say!</p></a>
</div>
</div>
<% include ../../partials/end %>
