
<% include ../../partials/boilerplate %>
<div class="title">
<h1>DC Pawlitics</h1>
<h2>DC Fake Mews</h2>
<a href="/cats"><p>Meet the Cats</p></a>
<a href="/submit"><p>Submit your Cat to be Featured</p></a>
<a href="https://www.homewardtrails.org/adopt-a-pet/cats-for-adoption/#.WtogsdPwY1I"><p>Adopt a DC Cat or Donate to Cats in Need</p></a>
</div>
