<% include ../../partials/boilerplate %>

<div class="form-page">
<div class="add">

<form action="/cats" method="POST">
  <input type="text" name="name" value="name" /><br>
  <input type="text" name="img_url" value="img_url" /><br>
  <input type="text" name="blurb" value="blurb" /><br>
<input type="text" name="hashtags" value="hashtags" /><br>
<input type="text" name="issue" value="issue" /><br>
<select name="affiliation_id">
    <% affiliation.forEach((affiliation) => { %>
      <option value="<%=affiliation.id%>"><%=affiliation.name%></option>
    <% }) %>
  </select> <br>
   <br>
  <input type="submit" value="Submit Cat" />
</form>
</div>
<a href="/cats"> Back to the cats </a>
</div>

<% include ../../partials/end %>

